@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #030712;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #030712;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    h2 {
        @apply inline-block mt-32 mb-16 pr-1 pb-1.5 font-poppins text-4xl md:text-5xl italic bg-clip-text text-transparent bg-gradient-to-r from-violet-400 via-blue-200 to-fuchsia-300;
    }
}

@layer utilities {
    .key-gradient {
        @apply bg-gradient-to-r from-violet-400 via-blue-200 to-fuchsia-300;
    }

    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .nav-item::before {
        content: "";
        @apply absolute left-0 top-[45%] -translate-y-1/2 w-0.5 h-4 bg-white;
    }

    .nav-item:hover::before {
        @apply bg-violet-400;
    }
}
